<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="logout()" href="">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="row">
		<div class="col-lg-12">
			<div class="main-page page no-header clearfix">
				<div class="row form-group">
					<div class="col-md-2 col-md-offset-10">
						<select class="form-control"  ng-model="currentPage"
								ng-options="page.name for page in pages track by page.value"
								ng-change="onPageChange()">
						</select>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table user-list">
						<thead>
							<tr>
								<th><a href="" data-ng-click="sort('name')">User</a></th>
								<th><a href="" data-ng-click="sort('creationTime')">Created</a></th>
								<th class="text-center"><a href="" data-ng-click="sort('isEnabled')">Status</a></th>
								<th><a href="" data-ng-click="sort('email')">Email</a></th>
								<th>
								<button data-ng-click="createUser()" type="button" class="btn btn-xs btn-success">
									<span class="glyphicon glyphicon-plus">Add</span>
								</button>
							</tr>
						</thead>
						<tbody>
							<tr data-id="{{user.userId}}" data-ng-repeat="user in users">
								<td>
									<img src="http://bootdey.com/img/Content/user_1.jpg" alt=""> 
									<a href="" class="user-link" ng-click="editUser(user)">{{user.name}}</a> 
									<span class="user-subhead">Member</span>
								</td>
								<td>{{user.creationTime | date : 'dd-MM-yyyy'}}</td>
								<td class="text-center">
									<span ng-if="user.enabled" class="label label-success">active</span>
									<span ng-if="!user.enabled" class="label label-danger">inactive</span>
								</td>
								<td>
									<a href="">{{user.email}}</a>
								</td>
								<td>
									<a id="edit" ng-click="editUser(user)" data-id="{{user.id}}" href="" class="table-link"> 
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i> 
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a> 
									<a id="delete" ng-click="deleteUser(user)" href="" class="table-link danger"> 
										<span class="fa-stack"> 
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>